*{
	margin: 0px;
	padding: 0px;
}
section{
	position: absolute;
	left:10%;
	top:30%;
	color: blue;
}

body{
	background-color: aqua;	
}
#newGame{
	color:blue;
}
#score{
	width: 100%
}
#map{
	position: absolute;
	background: yellow;
	height: 100%;
	width: 60%;
	left:20%;
	
}
#player{
	position: absolute;
	background: green;
	height: 7%;
	width: 4%;
	top: 85%;
	left:48%;
}
#enemy{

}
#bullet{

}